{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
    <body>
        {% if heading %}
        <div class="top-header">
        <h1>{{heading}}</h1>
        </div>
        {% endif %}
<div class="container mt-3" style="overflow-x:auto;">
    {% if stock and not restoreData %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3 autocomplete" id="autocomplete">
          <!--<label for="text" class="form-label">Please Select Option First</label>-->
          <input type="text" class="form-control autocomplete-input" placeholder="QUERY (Please Select Option First)" required name="query" value="" id="item" onblur="myFunction()" id="spaceRemove">
          <ul class="autocomplete-result-list item"></ul>
        </div>
        <input type="radio" name="choice" value="item_name" class="filter">Item Name
        <input type="radio" name="choice" value="roll_no."class="filter">Roll No.
        <input type="radio" name="choice" value="width" class="filter">Width
        <input type="radio" name="choice" value="customer_number" class="filter">Customer Number
        <input type="radio" name="choice" value="customer_name" class="filter">Customer Name
        <input type="radio" name="choice" value="available&sold" class="filter">Available & Sold

        <input type="submit"  class="btn btn-primary">
        {% if value %}
        <input type="button" onclick="window.location.href='/getstock/{{choice}}/{{value}}';" value="Download" class="btn btn-primary">
        {% endif %}
        <!-- </form> -->
    {% endif %}
    {% if showForm %}
    <form class="infoForms" method="post" action="">
      {% csrf_token %}
      <div class="mb-3">
        <label for="text" class="form-label">Date</label>
        <input type="date" class="form-control" placeholder="Numeric Only" name="sell_date" value="">
      </div>
      <input type="radio" name="choice" value="range" class="filter">Date Range - Start Date to Today
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
  <table class="table table-hover">
      <thead>
        <tr>
          {% if stock %}
          <th>Serial No.</th>
          <th>Item</th>
          <th>Width</th>
          <th>Roll No. </th>
          <th>Net Weight</th>
          <th>Gross Weight</th>
          <th id="soldRemove"onclick="hideShow()">Status</th>
          <th hidden >OPERATION</th>
          {% endif %}
          {% if customer %}
          <th>Serial No.</th>
          <th>Name</th>
          <th>Contact</th>
          {% endif %}

        {% if sold %}
        <th>Serial No.</th>
        <th>Item</th>
        <th>Width</th>
        <th>Roll No.</th>
        <th>Net Weight</th>
        <th>Gross Weight</th>
        <th>Date</th>
        <th>Customer Name</th>
        <th>Customer Mob.</th>
        <th>Short Narration</th>
        <!-- <th>NEW COMMENT</th> -->
        {% endif %}
        </tr>
      </thead>
      <tbody class="addElement">
        {% if customer %}
        {% for data in customer %}
        <tr>
        <th scope="row" class="sno"></th>
          <td class="count">{{data.customer_name}}</td>
          <td>{{data.customer_phone}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if stock %}
        {% for data in stock %}
        <tr class="insertBefore">
          <th scope="row" class="sno"></th>
          <td class="getitemName">{{data.item}}</td>
          <td class="width_same">{{data.width}}</td>
          <td class="rollNo">{{data.Roll_no}}</td>
          <td class="net" style="text-align: center;">{{data.Net_wt}}</td>
          <td class="gross" style="text-align: center;">{{data.Gr_wt}}</td>
          <td class="sellStatus">{{data.sell}}</td>
          <td hidden><div class="form-check">
            <input class="form-check-input itemName" type="checkbox" value="value1" id="flexCheckChecked" name="itemName">
          </div></td>
        </tr>
        {% endfor %}
      </form>
        {% if contentSetting == 1 %}
        <div class="contentSetting"></div>
        {% endif %}
        <tr class="total">
          <td colspan="4" style="text-align: center;">Total All STOCK AVAILABLE & SOLD</td>
          <td class="netWt" style="text-align: center;"></td>
          <td class="Gross" style="text-align: center;"></td>
        </tr>
        {% endif %}
        {% if sold %}
        {% for data in sold %}
        <tr>
          <th scope="row" class="sno"></th>
          <td class="getitemName">{{data.item_purchase.item}}</td>
          <td class="width">{{data.item_purchase.width}}</td>
          <td class="rollNo">{{data.item_purchase.Roll_no}}</td>
          <td  class="net" style="text-align: center;">{{data.item_purchase.Net_wt}}</td>
          <td class="gross" style="text-align: center;">{{data.item_purchase.Gr_wt}}</td>
          <td>{{data.purchase_date}}</td>
          <td>{{data.customer_name.customer_name}}</td>
          <td>{{data.customer_name.customer_phone}}</td>
          <td class="shortNarration" >{{data.short_narration}}</td> <!--  <input type="text"  class="form-control" value="{{data.short_narration}}" onblur="makeChanges(this) />"-->
        </tr>
        {% endfor %}
        <tr>
          <td colspan="4" style="text-align: center;">Total</td>
          <td class="netWt" style="text-align: center;"></td>
          <td class="Gross" style="text-align: center;"></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <script src="{% static 'app1/modify.js' %}"></script>
  <script>


  </script>
   </body>
{% endblock %}