{% extends 'app1/base.html' %}
{% block content %}
<body>
    {% if heading %}
        <div class="top-header">
        <h1>{{heading}}</h1>
        </div>
    {% endif %}
    <pre style="text-align: center;">No data is saved, PID is not generated.</pre>
    <form class="infoForms" method="post" action="{% url 'app1:getQty' %}">
        {% csrf_token %}
        <div class="mb-3 autocomplete" id="autocomplete">
          <label for="text" class="form-label">Item Name</label>
          <input type="text" class="form-control autocomplete-input" placeholder="Item Name" required name="item" value="" id="item" onblur="checkLength('item')">
          <ul class="autocomplete-result-list item"></ul>
        </div>
        <div class="mb-3 autocomplete" id="autocomplete1">
            <label for="text" class="form-label">Width</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Width" required name="width" value=""  id="width">
            <ul class="autocomplete-result-list width"></ul>
        </div>
            <label for="text" class="form-label">Net Weight</label>
            <input id = "ntWeight" type="" class="form-control" placeholder="Numeric Only" name="ntWeight" value="" required>
        </div>
        <div id="itemFields">
          <!-- Existing fields (Item Name, Width, and Roll No.) here -->
        </div>
        <button type="button" class="btn btn-secondary" onclick="addMoreFields()">+</button>
        <div class="mb-3 autocomplete" id="autocomplete3">
            <label for="text" class="form-label">Party Name</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Party Name" value="" name="party_name" id="party_name" onblur="getCustomerPhone()">
            <ul class="autocomplete-result-list "></ul>
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Party Contact</label>
          <input type="text" class="form-control" placeholder="Party Contact" name="customer_phone" value="" id="party_phone" onblur="checkUndefined()">
      </div>
        <div class="mb-3">
            <label for="text" class="form-label">Date</label>
            <input type="date" class="form-control" name="date" value="">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">PRICE</label>
          <input type="number" class="form-control" name="RATE" value="">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Total Non Taxable Amount</label>
          <input type="number" class="form-control" name="TOTAL_AMOUNT" value="">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Packing Charges</label>
          <input type="number" class="form-control" name="PACKING_CHARGES" value="">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">IGST</label>
          <input type="number" class="form-control" name="IGST" value="">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">CGST</label>
          <input type="number" class="form-control" name="CGST" value="">
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">SGST</label>
          <input type="number" class="form-control" name="SGST" value="">
        </div>
        <div class="mb-3">
        <label for="text" class="form-label" style="background-color: red;">Proforma Invoice</label>
        <input type="radio" name="choice" value="PROFORMA_INVOICE" class="filter" checked>
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Short Narration</label>
            <input type="text" class="form-control" name="short_narration" value="" onblur="checkLength1()" id="short_narration">
        </div>
        <input type="hidden" name="click_count" id="click_count" value="0">
          <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </body>
      <script>
        function checkLength(id)
        {
          document.getElementById(`${id}`).value=document.getElementById(`${id}`).value.trim()
          // document.getElementById(`${id}`).value = 'HSSI-3120-' + document.getElementById(`${id}`).value
          // alert(document.getElementById(`${id}`).value)
          if (document.getElementById(`${id}`).value.length >= 50)
          {
            alert('Please enter the item name below 50 characters');
            document.getElementById(`${id}`).value = ""
          }

        }
        function checkLength1()
        {
            document.getElementById('short_narration').value=document.getElementById('short_narration').value.trim()
            if (document.getElementById('short_narration').value.length >= 50)
          {
            alert('Please enter the item name below 50 characters');
            document.getElementById('short_narration').value = ""
          }
        }

        new Autocomplete('#autocomplete', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${input}&query=item`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)

                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              }
              )
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            },
            autoSelect : true

        }),
        new Autocomplete('#autocomplete1', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById('item').value}&item_width=${input}&query=item-width`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
            ,
            autoSelect : true
          }),
          new Autocomplete('#autocomplete3', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?party_name=${input}`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
          })

      function getCustomerPhone()
      {
        const url = `/search/?party_contact=${document.getElementById('party_name').value}`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data.data[0])
                // resolve(data.data)
                document.getElementById('party_phone').value = data.data[0]

              })
            })
      }
      function checkUndefined(){
      if(document.getElementById('party_phone').value ==='undefined' && document.getElementById('party_phone').value.length!=10)
        {
          document.getElementById('party_phone').value = ""
          alert('ENTER A VALID PARTY NAME')
        }
      }
      
      function initializeAutocomplete(id) {

    new Autocomplete(`#Autocomplete${id}`, {
      search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById(`item_${id}`).value}&query=item`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)

                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              }
              )
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            },
            autoSelect : true

        });
    new Autocomplete(`#autocomplete1_${id}`, {
      search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById(`item_${id}`).value}&item_width=${input}&query=item-width`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
            ,
            autoSelect : true
          });
  }


      let fieldCount = 0;
  
      function addMoreFields() {
    fieldCount++;
    document.getElementById('click_count').value = fieldCount; // Update the hidden input value
    const newItemFields = `
        <br><div class="mb-3 autocomplete" id="Autocomplete${fieldCount}">
            <label for="text" class="form-label">Item Name ${fieldCount}</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Item Name" required name="item_${fieldCount}" value="" id="item_${fieldCount}" onblur="checkLength(item_${fieldCount})">
            <ul class="autocomplete-result-list item"></ul>
        </div>
        <div class="mb-3 autocomplete" id="autocomplete1_${fieldCount}">
            <label for="text" class="form-label">Width ${fieldCount}</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Width" required name="width_${fieldCount}" value="" id="width_${fieldCount}">
            <ul class="autocomplete-result-list width"></ul>
        </div>
            <label for="text" class="form-label">Net Weight ${fieldCount}</label>
            <input id="ntWeight_${fieldCount}" type="text" class="form-control" placeholder="Numeric Only" name="ntWeight_${fieldCount}" value="" required>
        <br></div>
    `;

    const itemFieldsDiv = document.getElementById('itemFields');
    const newDiv = document.createElement('div');
    newDiv.innerHTML = newItemFields;
    itemFieldsDiv.appendChild(newDiv);

    // Initialize autocomplete for the newly added fields
    initializeAutocomplete(fieldCount);
      }
  
  
  </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" async defer></script> -->
</body>
{% endblock %}