{% extends 'app1/base.html' %}
{% block content %}
<body>
    {% if heading %}
        <div class="top-header">
        <h1>{{heading}}</h1>
        </div>
        {% endif %}
    <form class="infoForms" method="post" action="{% url 'app1:searchFilter' %}">
        {% csrf_token %}
        <div class="mb-3 autocomplete" id="autocomplete">
          <label for="text" class="form-label">Item Name</label>
          <input type="text" class="form-control autocomplete-input" placeholder="Item Name"  name="item" value="" id="item" onblur="checkLength('item')">
          <ul class="autocomplete-result-list item"></ul>
        </div>
        <div class="mb-3 autocomplete" id="autocomplete1">
            <label for="text" class="form-label">Width</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Width"  name="width" value=""  id="width">
            <ul class="autocomplete-result-list width"></ul>
        </div>
        <div class="mb-3 autocomplete" id="autocomplete2">
            <label for="text" class="form-label">Roll No.</label>
            <input id = "Roll_no" type="" class="form-control autocomplete-input" placeholder="Numeric Only" name="Roll_no" value=""  onblur="show('item','width','Roll_no')">
            <ul class="autocomplete-result-list roll"></ul>
        </div>
        <div id="itemFields">
          <!-- Existing fields (Item Name, Width, and Roll No.) here -->
        </div>
        <button type="button" class="btn btn-secondary" onclick="addMoreFields()">+</button>
        <div class="mb-3 autocomplete" id="autocomplete3">
            <label for="text" class="form-label">Party Name</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Party Name" value="" id="party_name" onblur="getCustomerPhone()">
            <ul class="autocomplete-result-list "></ul>
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Party Contact</label>
          <input type="text" class="form-control" placeholder="Party Contact" name="customer_phone" value="" id="party_phone" onblur="checkUndefined()">
      </div>
        <input type="hidden" name="click_count" id="click_count" value="0">
          <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </body>
      <script>
        function checkLength(id)
        {
          document.getElementById(`${id}`).value=document.getElementById(`${id}`).value.trim()
          // document.getElementById(`${id}`).value = 'HSSI-3120-' + document.getElementById(`${id}`).value
          // alert(document.getElementById(`${id}`).value)
          if (document.getElementById(`${id}`).value.length >= 50)
          {
            alert('Please enter the item name below 50 characters');
            document.getElementById(`${id}`).value = ""
          }

        }
        function checkLength1()
        {
            document.getElementById('short_narration').value=document.getElementById('short_narration').value.trim()
            if (document.getElementById('short_narration').value.length >= 50)
          {
            alert('Please enter the item name below 50 characters');
            document.getElementById('short_narration').value = ""
          }
        }

        new Autocomplete('#autocomplete', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${input}&query=item`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)

                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              }
              )
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            },
            autoSelect : true

        }),
        new Autocomplete('#autocomplete1', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById('item').value}&item_width=${input}&query=item-width`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
            ,
            autoSelect : true
          }),
          new Autocomplete('#autocomplete2', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById('item').value}&item_width=${document.getElementById('width').value}&item_roll=${input}&query=item-width-roll`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
          }),
          new Autocomplete('#autocomplete3', {
          search : input=>
          {
            console.log(input)
            const url = `/search/?party_name=${input}`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
          })

      function getCustomerPhone()
      {
        const url = `/search/?party_contact=${document.getElementById('party_name').value}`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data.data[0])
                // resolve(data.data)
                document.getElementById('party_phone').value = data.data[0]

              })
            })


      }

      function show(id1, id2, id3)
      {
        var item = document.getElementById(`${id1}`);
        var width = document.getElementById(`${id2}`);
        var Roll_no = document.getElementById(`${id3}`);

        const url = `/search/?item_search=${item.value}&item_width=${width.value}&item_roll=${Roll_no.value}&return_alert=data`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data.data)
                // resolve(data.data)
                if (data.data.length>0){
                  if(data.data[6]==-1){
                    alert(
                `Item Name: ${data.data[0]}\nItem Width: ${data.data[1]}\nRoll No.: ${data.data[2]}
Net Weight: ${data.data[3]}\nGross Weight: ${data.data[4]}\n${data.data[5]}`)}
                  
                else if(data.data[6]===0)
                  {
                alert(
                `Item Name: ${data.data[0]}\nItem Width: ${data.data[1]}\nRoll No.: ${data.data[2]}
Net Weight: ${data.data[3]}\nGross Weight: ${data.data[4]}\nStatus: AVAILABLE`)}
                else{
                  alert(
                  `Item Name: ${data.data[0]}\nItem Width: ${data.data[1]}\nRoll No.: ${data.data[2]}
Net Weight: ${data.data[3]}\nGross Weight: ${data.data[4]}\nCustomer Name: ${data.data[5]}\nCustomer Number: ${data.data[6]}
                `)
                }
                }
                else{
                  alert('ENTER VALID DETAILS')
                }

              })
            })
      }

      // function clearList()
      // {
      //   document.getElementsByClassName('autocomplete-result-list')[0].innerHTML=''
      // }
      function checkUndefined(){
      if(document.getElementById('party_phone').value ==='undefined' && document.getElementById('party_phone').value.length!=10)
        {
          document.getElementById('party_phone').value = ""
          alert('ENTER A VALID PARTY NAME')
        }
      }
      
      function initializeAutocomplete(id) {

    new Autocomplete(`#Autocomplete${id}`, {
      search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById(`item_${id}`).value}&query=item`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)

                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              }
              )
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            },
            autoSelect : true

        });
    new Autocomplete(`#autocomplete1_${id}`, {
      search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById(`item_${id}`).value}&item_width=${input}&query=item-width`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                const unique = (value, index, self) => {
                return self.indexOf(value) === index
                }
                data.data = data.data.filter(unique)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
            ,
            autoSelect : true
          });
    new Autocomplete(`#autocomplete2_${id}`, {
      search : input=>
          {
            console.log(input)
            const url = `/search/?item_search=${document.getElementById(`item_${id}`).value}&item_width=${document.getElementById(`width_${fieldCount}`).value}&item_roll=${input}&query=item-width-roll`
            return new Promise(resolve =>
            {
              fetch(url)
              .then(response =>response.json())
              .then(data =>
              {
                console.log(data)
                resolve(data.data)
              })
            })
          },
            onSubmit : result =>
            {
              console.log(result)
            }
          });
  }


      let fieldCount = 0;
  
      function addMoreFields() {
    fieldCount++;
    document.getElementById('click_count').value = fieldCount; // Update the hidden input value
    const newItemFields = `
        <div class="mb-3 autocomplete" id="Autocomplete${fieldCount}">
            <label for="text" class="form-label">Item Name ${fieldCount}</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Item Name"  name="item_${fieldCount}" value="" id="item_${fieldCount}" onblur="checkLength(item_${fieldCount})">
            <ul class="autocomplete-result-list item"></ul>
        </div>
        <div class="mb-3 autocomplete" id="autocomplete1_${fieldCount}">
            <label for="text" class="form-label">Width ${fieldCount}</label>
            <input type="text" class="form-control autocomplete-input" placeholder="Width"  name="width_${fieldCount}" value="" id="width_${fieldCount}">
            <ul class="autocomplete-result-list width"></ul>
        </div>
        <div class="mb-3 autocomplete" id="autocomplete2_${fieldCount}">
            <label for="text" class="form-label">Roll No. ${fieldCount}</label>
            <input id="Roll_no_${fieldCount}" type="text" class="form-control autocomplete-input" placeholder="Numeric Only" name="Roll_no_${fieldCount}" value=""  onblur="show('item_${fieldCount}','width_${fieldCount}','Roll_no_${fieldCount}')">
            <ul class="autocomplete-result-list roll"></ul>
        </div>
    `;

    const itemFieldsDiv = document.getElementById('itemFields');
    const newDiv = document.createElement('div');
    newDiv.innerHTML = newItemFields;
    itemFieldsDiv.appendChild(newDiv);

    // Initialize autocomplete for the newly added fields
    initializeAutocomplete(fieldCount);
      }
  
  
  </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" async defer></script> -->
</body>
{% endblock %}